# Reading Data From CSV Files

In [1]:
import pandas as pd

In [2]:
station = pd.read_csv('station.csv')

In [3]:
station

,id,name,lat,long,dock_count,city,installation_date
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013
...,...,...,...,...,...,...,...
65,77,Market at Sansome,37.789625,-122.400811,27,San Francisco,8/25/2013
66,80,Santa Clara County Civic Center,37.352601,-121.905733,15,San Jose,12/31/2013
67,82,Broadway St at Battery St,37.798541,-122.400862,15,San Francisco,1/22/2014
68,83,Mezes Park,37.491269,-122.236234,15,Redwood City,2/20/2014
69,84,Ryland Park,37.342725,-121.895617,15,San Jose,4/9/2014

In [4]:
chunk= pd.read_csv('status.csv',chunksize=1000000)

In [5]:
status = pd.concat(chunk)

In [6]:
status

          station_id  bikes_available  docks_available                 time
0                  2                2               25  2013/08/29 12:06:01
1                  2                2               25  2013/08/29 12:07:01
2                  2                2               25  2013/08/29 12:08:01
3                  2                2               25  2013/08/29 12:09:01
4                  2                2               25  2013/08/29 12:10:01
...              ...              ...              ...                  ...
71984429          84                8                7  2015-08-31 23:55:02
71984430          84                8                7  2015-08-31 23:56:01
71984431          84                8                7  2015-08-31 23:57:02
71984432          84                8                7  2015-08-31 23:58:02
71984433          84                8                7  2015-08-31 23:59:02

[71984434 rows x 4 columns]

In [7]:
trip = pd.read_csv('trip.csv')

In [8]:
weather=pd.read_csv('weather.csv')

# Creating a Database and adding tables

In [9]:
import sqlite3

In [10]:
conn = sqlite3.connect("bike_sharing.db") #creating a bike sharing db
cur = conn.cursor()

In [11]:
station.to_sql("station", conn,if_exists= 'replace',index=False) #adding station data to table

In [13]:
status.to_sql("status", conn,if_exists= 'replace',index=False)  #adding status data to table

In [14]:
trip.to_sql("trip", conn,if_exists= 'replace',index=False)  #adding trip data to table

In [15]:
weather.to_sql("weather", conn,if_exists= 'replace',index=False)  #adding weather data to table